{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">

<footer>
  <p>&copy; 2023 PRMS. All rights reserved.</p>
  <div class="social-icons">
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <!-- Add more social icons as needed -->
  </div>
</footer>